$home_background:#F0F0F6;
$section_background:#FFFFFF;
$title_color:#2B2B2B;
$text_color: #767676;
$highlight_color: #FFB400;
$Available_color: #7EB942;
<<<<<<< HEAD
=======

@font-face {
  font-family: inter;
  src: url(./images/Inter-Regular.ttf);
}
>>>>>>> responsive_with_media
