.home {
  background: #E5E5E5;
}

.intro {
  background: #FFFFFF;
  max-width: 970px;
  display: flex;
  margin-left: 335px;
  margin-top: 0px;
  flex-wrap: wrap;
}

.left {
  display: flex;
  flex-flow: wrap;
  flex-flow: column;
  margin-top: 0px;
  max-width: 970px;
  height: auto;
}

.Text_layer {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 105.95px;
}

.title {
  flex-direction: column;
  max-width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
}
.title .front {
  color: #FFB400;
}

.person {
  max-width: 325.72px;
  height: 522.89px;
  left: 586.68px;
  top: 9.11px;
}

.des {
  flex-direction: column;
  max-width: 424px;
  height: 100.23px;
  color: #767676;
  margin: 0px;
  /* H6 - 16px */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-transform: capitalize;
  /*font-feature-settings: 'calt'off, 'kern'off;*/
}

.button {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  width: 154px;
  height: 51px;
  /* Yellow */
  background: #FFB400;
  border-radius: 5px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.button_text {
  width: 66px;
  height: 19px;
  left: 32px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  /* Black */
  color: #2B2B2B;
}

.vector {
  left: 106px;
  top: 17px;
  height: 10.37px;
  width: 10.67px;
}

/*
.Rectangle51 {
  box-sizing: border-box;

  position: absolute;
  width: 16.45px;
  height: 17.82px;
  left: 895.44px;
  top: 79.34px;

  border: 2px solid rgba(255, 180, 0, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
}

.Polygon1 {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  left: 921px;
  top: 486.34px;
  //height: 0;
  //width: 0;
  //border-left = width/2 : 16px / 2 = 8px;
  //border-bottom = height = 18.22px;
  //border: 2px solid rgba(255, 46, 0, 0.8);
  //border-top: 0;
  border: 2px solid transparent;
  border-bottom: 18.22px solid rgba(255, 46, 0, 0.8);
  // (16 ^  2 ) + ( 18.22 ^ 2 ) = 24.24 ^ 2
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  //fill: transparent;

}

.Ellipse12 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 520px;
  top: 59.23px;

  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 50%;
}

.Ellipse13 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 557.86px;
  top: 432.77px;

  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 50%;
}

.Rectangle52 {
  box-sizing: border-box;

  position: absolute;
  width: 16.45px;
  height: 17.82px;
  left: 373.8px;
  top: 379.28px;

  border: 2px solid rgba(0, 71, 255, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
}

.Ellipse15 {
  box-sizing: border-box;

  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 40px;
  top: 34.17px;

  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 50%;
}

.Ellipse16 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 88px;
  top: 480.64px;

  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 50%;
}
*/
.sidebar {
  display: flex;
  position: absolute;
  max-width: 305px;
  height: 1315px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}/*# sourceMappingURL=style.css.map */