.home {
  background-color: #F0F0F6;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main {
  float: right;
  margin-top: 0%;
  margin-right: 1%;
  width: 73%;
}

.intro {
  background: #FFFFFF;
  display: flex;
  width: 100%;
  height: auto;
}

.person {
  width: 35%;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 2%;
  max-width: 100%;
}

.Text_layer {
  width: 60%;
  max-width: 100%;
  padding-top: 4%;
  padding-right: 2%;
  padding-bottom: 8%;
  padding-left: 6%;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8vw;
  line-height: 123.6%;
  margin-top: 10%;
}

.des {
  color: #767676;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 24px;
  max-width: 100%;
  margin-top: 6%;
  margin-bottom: 14%;
}

.button_style {
  text-decoration: none;
  background-color: #FFB400;
  border-radius: 5%;
  padding: 3%;
}

.button_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6vw;
  line-height: 19px;
  padding: 2% 5%;
  text-align: center;
  color: #2B2B2B;
}

.vector {
  width: 3%;
  padding-left: 0%;
}

.front {
  color: #FFB400;
}

/*
.Rectangle51 {
  box-sizing: border-box;

  position: absolute;
  width: 16.45px;
  height: 17.82px;
  left: 895.44px;
  top: 79.34px;

  border: 2px solid rgba(255, 180, 0, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
}

.Polygon1 {
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  left: 921px;
  top: 486.34px;
  //height: 0;
  //width: 0;
  //border-left = width/2 : 16px / 2 = 8px;
  //border-bottom = height = 18.22px;
  //border: 2px solid rgba(255, 46, 0, 0.8);
  //border-top: 0;
  border: 2px solid transparent;
  border-bottom: 18.22px solid rgba(255, 46, 0, 0.8);
  // (16 ^  2 ) + ( 18.22 ^ 2 ) = 24.24 ^ 2
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  //fill: transparent;

}

.Ellipse12 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 520px;
  top: 59.23px;

  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 50%;
}

.Ellipse13 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 557.86px;
  top: 432.77px;

  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 50%;
}

.Rectangle52 {
  box-sizing: border-box;

  position: absolute;
  width: 16.45px;
  height: 17.82px;
  left: 373.8px;
  top: 379.28px;

  border: 2px solid rgba(0, 71, 255, 0.8);
  transform: matrix(0.87, 0.49, -0.39, 0.92, 0, 0);
}

.Ellipse15 {
  box-sizing: border-box;

  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 40px;
  top: 34.17px;

  border: 2px solid rgba(255, 180, 0, 0.8);
  border-radius: 50%;
}

.Ellipse16 {
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 18.22px;
  left: 88px;
  top: 480.64px;

  border: 2px solid rgba(5, 255, 0, 0.8);
  border-radius: 50%;
}
*/
.services {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */